[Unit]
Description=Changedetection.io
After=podman-user-wait-network-online.service

[Container]
ContainerName=changedetection.io
Image=lscr.io/linuxserver/changedetection.io:latest
AutoUpdate=registry
PublishPort=5000:5000
Timezone=local
Volume=%h/appdata/changedetection.io:/config

[Service]
Restart=always
TimeoutSec=600

[Install]
WantedBy=default.target