[defaults]
inventory = inventory/
vault_password_file = ~/.config/ansible_vault_password

host_vars_inventory = inventory/host_vars
group_vars_inventory = inventory/group_vars

verbosity = 1
remote_user = ansible
become_method = community.general.run0
ansible_python_interpreter = /usr/bin/python3

# callback_plugins = ./callback_plugins
# stdout_callback = ansible.posix.json
# stdout_callback = community.general.selective
# stdout_callback = error_only


[persistent_connection]
connect_timeout=30
command_timeout=30

# [collections]
# community.general
# community.mongo
# artis3n.tailscale