[Unit]
Description=trilium Notes (trilium-next)

[Container]
Environment=TRILIUM_DATA_DIR=/home/node/trilium-data 
Environment=USER_UID={{ uid }} 
Environment=USER_GID={{ gid }}

Image=ghcr.io/triliumnext/notes:latest
AutoUpdate=registry
Pod=notes.pod
Volume=/var/appdata/trilium-next/data:/home/node/trilium-data:z

Timezone=local

[Service]
Restart=always

[Install]
WantedBy=multi-user.target.target