
[Unit]
Description=n8n Workflow Engine
Requires=podman-user-wait-network-online.service

[Container]
AutoUpdate=registry
Image=docker.io/n8nio/n8n:stable
Pod=n8n.pod
User={{ uid }}:{{ gid }}
; UserNS=keep-id:uid={{ uid }},gid={{ gid }}

; PublishPort=127.0.0.1:5678:5678
; Network=pasta:-T,5432:5432

; Volume=%h/appdata/n8n:/n8n:rw,z
; Volume=%h/appdata/n8n/data:/n8n/.n8n:rw,z

Environment=GENERIC_TIMEZONE=America/New_York
Environment=TZ=America/New_York
Environment=N8N_USER_FOLDER=/n8n
Environment=N8N_PROXY_HOPS=4
Environment=WEBHOOK_URL="{{ webhook_url }}"
Secret=n8n_encryption_key,type=env,target=N8N_ENCRYPTION_KEY

Environment=EXECUTIONS_MODE=queue
Environment=QUEUE_BULL_PREFIX=n8n-app-queue-
Environment=N8N_RUNNERS_ENABLED=true
Environment=N8N_RUNNERS_MODE=external
Environment=N8N_NATIVE_PYTHON_RUNNER=true
Environment=N8N_RUNNERS_BROKER_LISTEN_ADDRESS=127.0.0.1
Secret=n8n-runner-auth-token,type=env,target=N8N_RUNNERS_AUTH_TOKEN

Environment=DB_TYPE=postgresdb
Environment=DB_POSTGRESDB_HOST=127.0.0.1
Environment=DB_POSTGRESDB_PORT=5432
Environment=DB_POSTGRESDB_DATABASE=app_n8n
Environment=DB_POSTGRESDB_USER=n8n
Secret=n8n_postgres_pass,type=env,target=DB_POSTGRESDB_PASSWORD

Environment=NODE_FUNCTION_ALLOW_BUILTIN=*
Environment=NODE_FUNCTION_ALLOW_EXTERNAL=*
Environment=N8N_RUNNERS_EXTERNAL_ALLOW=*

[Service]
Restart=always
TimeoutSec=600

[Install]
WantedBy=default.target
