[Unit]
Description=i2p border router

[Container]
Pod=i2p.pod

# Container
Environment=JVM_XMX=1024m
Image=docker.io/purplei2p/i2pd:latest
AutoUpdate=registry
NoNewPrivileges=yes

Environment=EXT_PORT=49573

# data volume for i2p
Volume=/var/appdata/i2p/i2pd:/home/i2pd/data:z
# Volume=/var/appdata/i2p/i2phome:/i2p/.i2p:z
# Volume=/var/appdata/i2p/i2ptorrents:/i2psnark:z

# HealthCmd=/healthcheck
# HealthInterval=30s
# HealthRetries=3
# HealthTimeout=5s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target
